<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格</title>
</head>
<body>
    <h1 align='center'>表格1</h1>
        <table border="1" width="700" height="300" align="center">
            <tr align="center">
                <td colspan="5" hight="10%">基本信息</td>
            </tr>
            <tr align="center">
                <td width="15%" hight="18%">姓名</td>
                <td width="25%"></td>
                <td width="15%">住址</td>
                <td width="25%"></td>
                <td rowspan="5" width="20%"><img src="image/2.jpg" width= "100%" alt="证件照" valign="top"/></td>
            </tr>
            <tr align="center">
                <td hight="18%">性别</td>
                <td></td>
                <td>电话</td>
                <td></td>
            </tr>
            <tr align="center">
                <td hight="18%">出生日期</td>
                <td></td>
                <td>邮箱</td>
                <td></td>
            </tr>
            <tr align="center">
                <td hight="18%">年龄</td>
                <td></td>
                <td>毕业学校</td>
                <td></td>
            </tr>
            <tr align="center">
                <td hight="18%">身高</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    
</body>
</html>